body {
	background: #156e80 url('imagens/fundo1.png');
	font: 16px Arial. Helvetica, sans-serif;
}


#principal {
	width: 900px;
	text-align: center;
}

#menu {
	background:#0096d6;
	padding: 18px;
}

a{
	color:#e3e5e6;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

#conteudo {
	background:#0a0909;
	padding: 5px;

}

p{
	color:#e3e5e6 ;
	text-align: left;
}

h1{
	color:#e3e5e6;
	font-size: 3em;
	text-align: center;
}

h4{
	color: #e3e5e6;
	text-align: left;
}

.centralizar{
	text-align: center;
}

.img-campanha {
	border: 5px solid #0096d6;
	width: 400px;
}

strong{
	color:#e3e5e6 ;
	align-content: left;
}

h3{
	color: #e3e5e6;
	text-align: left;
}

